eureka:
  instance:
    prefer-ip-address: false
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka

spring:
  cloud:
    config:
      override.system-properties: false
